*
{
        outline: 0;
        outline-style:none;
        outline-width:0 ;
        user-select:none;     
}

body
{
        background-image: url("Background.png");
}

.game 
{
        height: 36.674vw;
        width: 36.674vw;
        background-color: #333;
        border-radius: 100%;
        margin: 0 auto;
        text-align: center;
        position: relative;
        margin-top: 60;
					
}
.clr 
{
        height: 15.54vw;
        width: 15.54vw;
	    display: inline-block;
    	border-style: solid;
	    border-width: 0.9324vw;
	    border-color: #333;
}

.changeTo
{
        cursor:pointer;
}

.clr1
{
		background-color: #00a74a;
        border-top-left-radius: 100%;
}

.clr2 
{
		background-color: #9f0f17;
		border-top-right-radius: 100%;
}


.clr3
{
		background-color: #cca707;
		border-bottom-left-radius: 100%;
}


.clr4
{
        background-color: #094a8f;
        margin-left: 0.6216vw;
        margin-top: 1.3986vw;
	    border-bottom-right-radius: 100%;
}


.middle
{
		width: 17.094vw;
		height: 17.094vw;
		position: absolute;
		border-radius: 100%;
		top: 50%;
		left: 50%;
		margin: -9.4794vw 0 0 -9.4794vw;
		background-color: #ECE7EE;
		border-style: solid;
		border-width: 12px;
		border-color: #333;
}

.outTx 
{
        font-family: 'VT323', monospace;
        color: #DC0D29;
        padding: 0px;
        font-size: 2.7972vw;
        width: 4.3512vw;
        height: 3.108vw;
        background-color: #32050C;
        position: relative;
        border-style: solid;
        border-width: 0.3108vw;
        border-color: #222;
        border-radius: 0.777vw;
        left: 0.5439vw;
        text-align: center;
        position: absolute;
        top: 8.0808vw;
        left: 0.9324vw;
}

.btnSt
{
        height: 2.331vw;
        width: 2.331vw;
        background-color: rgb(252, 1, 2);
        border-radius: 100%;
        margin-left: 67px;
        border-width: 4px;
        border-style: solid;
        /* margin-top: -37px; */
        border-color: #444444;
        top: 119px;
        position: absolute;
        left: 34px;
}


.strict
{
        height: 2.331vw;
        width: 2.331vw;
        background-color: rgb(240, 243, 16);
        border-radius: 100%;
        margin-left: 33px;
        border-width: 4px;
        border-style: solid;
        margin-top: 3%;
        border-color: #444444;
        position: absolute;
        top: 111px;
        left: 125px;
}

.led
{
       width: 8px;
       height: 8px;
       position: absolute;
       border-radius: 100%;
       background-color: rgb(34, 34, 34);
       margin-left: 170px;
       margin-top: -49px;
}

.gTitle
{
    font-size: 60px;
    font-weight: bolder;
    margin-left: 5px;
    margin-top: 23px;
}

.cnt
{
    margin-left: -3px;
    font-size: 13px;
}

.strt
{
    margin-left: 26px;
    font-size: 13px;
}

.stct
{
    margin-left: 9px;
    font-size: 13px;
}

.off
{
    position: absolute;
    font-size:12px;
    top: 194px;
    left: 66px;
}


.on
{
    font-size:12px;
    position: absolute;
    top: 194px;
    left: 129px;
}



/* ----------------------- w3 toggle button-------------------------------*/


/* Hide default HTML checkbox */
.switch input {display:none;}


.switch {
  position: absolute;
  display: inline-block;
  width: 38px;
  height: 19px;
  margin-top: -45px;
  left: 89px;
}



/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:#222222;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 1px;
    bottom: 1px;
    border-radius:10%;
    background-color: #3193DE;
}

input[type=checkbox]:checked + .slider:before {
    left:20px
}

